body {
    margin: 0;
    overflow: hidden;
    background: #282830;
    color: #ffffff;
}

canvas {
    display: block;
}

/* Main split*/
html, body, #main-split, #left-split {
    height: 100%;
    margin: 0;
}

#main-split{
    display: flex;
    flex-direction: row;
}

#left {
    overflow: auto;
}

#left, #right {
    padding: 12px;
}

#left-split {
    width: 100%;
    margin: 0;
}

#left-top, #left-bottom {
    padding: 12px;
    height: 100%;
    width: 100%;
}

/* оформление «плашки» между панелями */
.gutter {
    background: #2b2f36;
}

.gutter.gutter-horizontal {
    width: 8px;
    cursor: col-resize;
}